<footer class="container-fluid site-footer">

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <header class="site-footer-heading">
          <img class="site-footer-brand" src="/images/logo/logo_v2.png" alt="{{ site.title }}">
          <ul class="contact-list">
            <li>{{ site.title }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
          <p class="footer-tiny">All icons Creative Commons or Public Domain licensed; attributions in alt-text.</p>
        </header>
      </div>
      <div class="col-md-6">
        <p class="site-footer-sub">{{ site.description }}</p>
      </div>

    </div>
  </div>

</footer>
