<header class="container-fluid site-header">
  <nav class="navbar navbar-full navbar-light site-nav">
    <div class="container">
      <a class="navbar-brand site-nav-brand" href="{{ site.baseurl }}/">
        {{ site.title }}
      </a>
      <!-- <ul class="nav navbar-nav hidden-md-down pull-md-right site-nav-links">
        {% if section.link %}
        <li class="nav-item">
          <a href="{{site.url}}{{ section.title | slugify | prepend: '/#' }}" class="nav-link">{{ section.title | capitalize }}</a>
        </li>
        {% endif %}
      </ul> -->
    </div>
  </nav>
</header>
