/*
* Html Layout
*/
html, body {
  height: 100%;
  width: 100%;
}

.site-header {
  // height: 54px;
  // .site-nav {
  //   height:inherit;
  // }
}

.site-frontpage-jumbo {
  min-height: 30rem;
  .site-frontpage-jumbo-header {
    margin-bottom: 8rem;
  }

  .card {
    background-color: transparent;
    border-width: 0 0 0 2px;
  }
}

.site-doc-jumbo {
  margin-bottom: 0;
}

.site-frontpage-jumbo, .site-doc-jumbo {
  background-color: $main-color1;
}

.site-doc-nav, .site-doc-page {
  padding:3rem;
}

.site-doc-nav {
  background-color: #afafaf;

  ul {
    list-style: none;
    a {
      color: #fff;
    }
  }
}

.site-footer-heading, .site-footer-sub {
  padding: 1rem 0 0;
}
