/*
* Html Layout
*/
html, body {
  height: 100%;
  width: 100%;
}

.site-header {
  // height: 54px;
  // .site-nav {
  //   height:inherit;
  // }
}

.site-main-jumbo {
  min-height: 30rem;
  .site-main-jumbo-header {
    margin-bottom: 8rem;
  }

}
